
{% extends 'news/masterLayout.html'%}
{% block title %}
    Giỏ hàng
{% endblock%}
{% block mainPage %}    
{% load mathfilters %}  
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
    </div>
    <h3 class="mb-4">Cart information</h3>
    <!-- Content Row-->
    <div class="row  mb-4 mt-3">
        <div class="col-12">
           {% if request.session.carts %}
           <table class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th>Product name</th>
                    <th>Image</th>
                    <th>Total</th>
                    <th>Price</th>
                    <th>Total price</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                    {% for key,value in request.session.carts.items %}
                        <tr>
                            <td scope="row">{{value.names}}</td>
                            <td>
                                <img src="/images/{{value.imgs}}" alt="" srcset="" style="width:35%;">
                            </td>
                            <td>
                                <input type="number"  min="1" name="{{key}}" id="quality" value="{{value.soluongs|floatformat:'2g'}}">
                            </td>
                            
                            <td>{{value.prices|floatformat:"2g"}}</td>
                            <td class="thanhtien" id="thanhtien-{{key}}" prices="{{value.thanhtien}}" name="{{key}}">{{value.thanhtien|floatformat:"0g"}}</td>
                            <td>
                                <button class="btn btn-danger delete" key="{{key}}" data-toggle="modal" data-target="#exampleModal">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
        <div class="totalPrice mt-4">
            <b>Total price</b> <span id="priceTotal">{{total|floatformat:"0g"}}</span> <i>VND</i> <br>
            <button class="btn btn-primary mt-4" id="thanhToan">Thanh toán</button>
        </div>
        {% else %}
        <h4>Bạn chưa mua hàng</h4>
        {% endif %}
        </div>
    </div>
    
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Bạn có chắc chắn muốn xóa sản phẩm này khỏi giỏ hàng ??
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="deleteItemCart">Delete</button>
        </div>
      </div>
    </div>
  </div>
<script>
    $(document).ready(function () {
       //var oldTotal =  $("#quality").val();
       var itemDelete ;
        $("#quality").change(function (e) { 
            console.log($(this).val());
            var soLuong =$(this).val();
            console.log(soLuong);
            var id = $(this).attr("name");
            if(id!=""&& soLuong!=""){
                $.ajax({ 
                    url: "{% url 'updatecart' %}",
                    type: "POST",
                    data: {
                        id:id,
                        soLuong:soLuong,
                        csrfmiddlewaretoken:'{{csrf_token}}'
                    },
                    
                    success: function (response) {
                        console.log(response.cart);
                        if(response.success == "Tăng số lượng thành công"){
                            $("#thanhtien-"+id).text(Number(response.cart[id]["thanhtien"]).toLocaleString());
                        }
                        else{
                            alert(response.success)
                        }
                    }
                });
            }
            else{
                alert("Số lượng sản phẩm lỗi không thể tăng");
            }
        });
        $(".delete").click(function (e) { 
            itemDelete = $(this).attr("key"); 
            $("#exampleModal").show();
        });
        $("#deleteItemCart").click(function (e) { 
            if(itemDelete!=""){
                $.ajax({ 
                    url: "{% url 'deletecart' %}",
                    type: "POST",
                    data: {
                        id:itemDelete,
                        csrfmiddlewaretoken:'{{csrf_token}}'
                    },
                    
                    success: function (response) {
                        console.log(response.cart);
                        if(response.success == "Xóa sản phẩm trong giỏ hàng thành công"){
                            $("#exampleModal").hide();
                            location.reload();
                        }
                        else{
                            alert(response.success);
                            console.log(response.success)
                        }
                    }
                });
            }
            else{
                alert("Bạn chưa chọn sản phẩm để xóa");
            }
        });
        $("#thanhToan").click(function (e) {
            window.location="{% url 'pay' %}";
        });
    });
</script>
{% endblock %}      
    