{% extends 'news/masterLayout.html'%}
{% load static %}
{% block title %}
    Trang chủ
{% endblock%}
{% block mainPage %}
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    {% if productSale %}
        {% for item in productSale %}
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0 myImg" src="{{item.img.url }}" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">{{item.name}}</h1>
                <p>{{item.decription}}</p>
                <a class="btn btn-primary" href="{% url 'productDetail' item.id%}">Call to Action!</a>
            </div>
        </div>
        {% endfor%}
    {% endif %}
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
    </div>

    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        {% if productNew%}
            {%for item in productNew%}
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <img class="img-fluid rounded mb-4 mb-lg-0 imgItem" src="{{item.img.url }}" alt="..." />
                        <h2 class="card-title mt-2">{{item.name}}</h2>
                        <p class="card-text">{{item.decription}}</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'productDetail' item.id%}">More Info</a></div>
                </div>
            </div>
            {% endfor %}
        {% else%}
            <p class="text-center">Hiện chưa có sản phẩm</p>
        {% endif%}
        
    </div>
    
</div>
{% endblock %}